.PageBox {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 高清背景层 */
.PageBox::after {
    content: "";
    position: fixed;
    inset: 0;
    background-image: var(--bg-url); /* 高清图 */
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -1;
}

.PageBox.loaded::after {
    opacity: 1;
}
