.PageBox {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
}

.bg0 {
    background-image: url(../images/bg0.webp);
}
.bg1 {
    background-image: url(../images/bg1.webp);
}
.bg2 {
    background-image: url(../images/bg2.webp);
}
