.PageBox {
    background-position: center 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

.bg0 {
    background-image: url(../images/bg0.webp);
}
.bg1 {
    background-image: url(../images/bg1.webp);
}
.bg2 {
    background-image: url(../images/bg2.webp);
}
