.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 9.9%;
    min-height: 70%;

    @media (max-height: 768px) {
        min-height: 85.4%;
    }
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    border-radius: 16px;
    // box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.avatar {
    border-radius: 50%;
    border: 3px solid;
    object-fit: cover;
}

.name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.bio {
    font-size: 15px;
    color: var(--color-text);
    line-height: 1.6;
}
