.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 90%;
    // height: 100%;
    width: 100%;
    padding-top: 10%;
    gap: 5%;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.latestReleases {
    width: 30%;

    @media (max-width: 768px) {
        width: 100%;
    }
}
.classTags {
    width: 20%;

    @media (max-width: 768px) {
        width: 100%;
    }
}
