<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ArticleVisitLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.ArticleVisitLog">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="ip" property="ip"/>
        <result column="location" property="location"/>
        <result column="user_agent" property="userAgent"/>
        <result column="referer" property="referer"/>
        <result column="visit_time" property="visitTime"/>
        <result column="device" property="device"/>
    </resultMap>

    <!-- 插入访问日志 -->
    <insert id="insertVisitLog" parameterType="org.deslrey.entity.po.ArticleVisitLog" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO article_visit_log
            (article_id, ip, location, user_agent, referer, visit_time, device)
        VALUES (#{articleId}, #{ip}, #{location}, #{userAgent}, #{referer}, NOW(), #{device})
    </insert>

</mapper>
