<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.ArticleTag">
        <result column="article_id" property="articleId"/>
        <result column="tag_id" property="tagId"/>
    </resultMap>

    <insert id="insertArticleTag">
        insert into article_tag(article_id, tag_id)
        values (#{articleId}, #{tagId})
    </insert>

    <select id="selectArticleTagListById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select tag_id
        from article_tag
        where article_id = #{articleId}
    </select>

    <select id="selectArticleByTagId" resultType="org.deslrey.entity.vo.ArticleVO"
            parameterType="java.lang.Integer">
        select a.id, a.title
        from article_tag t
                 left join article a
                           on t.article_id = a.id
        where t.tag_id = #{tagId}
    </select>


</mapper>
