<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="word_count" property="wordCount"/>
        <result column="views" property="views"/>
        <result column="read_time" property="readTime"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="category" property="category"/>
        <result column="des" property="des"/>
        <result column="sticky" property="sticky"/>
        <result column="edit" property="edit"/>
        <result column="exist" property="exist"/>
    </resultMap>

    <!-- 插入文章 -->
    <insert id="insertArticle" parameterType="org.deslrey.entity.po.Article" keyProperty="id" useGeneratedKeys="true">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="wordCount != null">word_count,</if>
            <if test="views != null">views,</if>
            <if test="readTime != null">read_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="category != null">category,</if>
            <if test="des != null">des,</if>
            <if test="sticky != null">sticky,</if>
            <if test="edit != null">edit,</if>
            <if test="exist != null">exist,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="wordCount != null">#{wordCount},</if>
            <if test="views != null">#{views},</if>
            <if test="readTime != null">#{readTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="category != null">#{category},</if>
            <if test="des != null">#{des},</if>
            <if test="sticky != null">#{sticky},</if>
            <if test="edit != null">#{edit},</if>
            <if test="exist != null">#{exist},</if>
        </trim>
    </insert>

    <!--  更新文章  -->
    <update id="updateArticle" parameterType="org.deslrey.entity.po.Article">
        update article
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="wordCount != null">word_count = #{wordCount},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="category != null">category = #{category},</if>
            <if test="edit != null">edit = #{edit},</if>
            <if test="des != null">des = #{des},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateViewCount">
        UPDATE article
        SET views = IFNULL(views, 0) + #{pv}
        WHERE id = #{articleId}
    </update>

    <update id="updateExist">
        update article
        set exist = #{exist}
        where id = #{id}
    </update>


    <select id="selectLatestReleases" resultMap="BaseResultMap">
        select id, title, create_time
        from article
        where exist = 1
        order by create_time desc
        limit 5
    </select>

    <select id="selectArticleList" resultMap="BaseResultMap">
        select id,
               title,
               des,
               create_time,
               update_time,
               category,
               edit
        from article
        where exist = 1
        order by create_time desc
    </select>


    <select id="selectAdminArticleList" resultMap="BaseResultMap">
        SELECT id,
               title,
               word_count,
               views,
               create_time,
               update_time,
               category,
               des,
               sticky,
               edit,
               exist
        FROM article

    </select>

    <select id="selectArticleDetail" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select id, title, content, word_count, views, read_time, create_time, update_time, category, des, sticky, edit
        from article
        <where>
            <if test="id != null">id = #{id}</if>
            <if test="id != null">and exist = 1</if>
        </where>
    </select>

    <select id="selectArticleByCategory" resultMap="BaseResultMap"
            parameterType="java.lang.String">
        select id,
        title,
        des,
        create_time,
        update_time,
        category,
        edit
        from article
        <where>
            <if test="title != null and title != ''">category = #{title}</if>
            <if test="title != null and title != ''">and exist = 1</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectViewHot" resultMap="BaseResultMap">
        select title, views
        from article
        order by views desc
        limit 5
    </select>

    <select id="selectEditArticleById" resultMap="BaseResultMap"
            parameterType="java.lang.Integer">
        select id, title, content, des, category
        from article
        <where>
            <if test="articleId != null">id = #{articleId}</if>
        </where>
    </select>


</mapper>
