<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="word_count" property="wordCount"/>
        <result column="views" property="views"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="category" property="category"/>
        <result column="des" property="des"/>
        <result column="sticky" property="sticky"/>
        <result column="edit" property="edit"/>
        <result column="exist" property="exist"/>
    </resultMap>
    <select id="latestReleases" resultType="org.deslrey.entity.vo.LatestReleasesVO">
        select title, update_time
        from article
        order by update_time desc
        limit 5;
    </select>

    <select id="getArticlesByPage" resultMap="BaseResultMap">
        SELECT id, title, views, create_time, category, sticky, edit
        FROM article
        LIMIT #{pageSize} OFFSET #{offset}
    </select>
    <select id="detail" resultType="org.deslrey.entity.po.Article" parameterType="java.lang.Integer">
        select id,
               title,
               content,
               word_count,
               views,
               create_time,
               update_time,
               category,
               sticky,
               edit
        from article
        where id = #{id}
          and exist = 1;
    </select>


</mapper>
