<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.ArticleTag">
        <result column="article_id" property="articleId"/>
        <result column="tag_id" property="tagId"/>
    </resultMap>

    <!-- 插入文章-标签关系 -->
    <insert id="insertArticleTag" parameterType="org.deslrey.entity.po.ArticleTag">
        insert into article_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">article_id,</if>
            <if test="tagId != null">tag_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">#{articleId},</if>
            <if test="tagId != null">#{tagId},</if>
        </trim>
    </insert>

    <delete id="deleteTagByArticleId" parameterType="java.lang.Integer">
        delete
        from article_tag
        where article_id = #{articleId}
    </delete>

    <select id="selectArticleTag" resultType="org.deslrey.entity.po.Article" parameterType="java.lang.Integer">
        select a.id,
        a.title,
        a.des,
        a.create_time as createTime,
        a.update_time as updateTime,
        a.category,
        a.edit
        from article_tag t
        left join article a on t.article_id = a.id
        <where>
            <if test="tagId != null">t.tag_id = #{tagId}</if>
            <if test="tagId == null">a.exist = 1</if>
        </where>
        order by a.create_time desc
    </select>

    <!-- 根据文章ID查询标签ID列表 -->
    <select id="selectArticleTagListById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select tag_id
        from article_tag
        <where>
            <if test="articleId != null">article_id = #{articleId}</if>
        </where>
    </select>


</mapper>
