<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.CategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.Category">
        <id column="id" property="id"/>
        <result column="category_title" property="categoryTitle"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>
    <insert id="insertCategory" parameterType="java.lang.String">
        insert into category(category_title, create_time)
        values (#{categoryTitle}, NOW())
    </insert>

    <update id="updateCategoryTitle" parameterType="org.deslrey.entity.po.Category">
        update category
        set category_title = #{categoryTitle}
        where id = #{id}
    </update>

    <select id="categoryCountList" resultType="org.deslrey.entity.vo.CategoryCountVO">
        select c.id, c.category_title AS title, COUNT(a.id) AS total
        from category c
                 left join article a ON a.category = c.category_title
        where a.exist = 1
        GROUP BY c.id, c.category_title
        ORDER BY total DESC;
    </select>

    <select id="categoryArticleList" resultMap="BaseResultMap">
        select id, category_title
        from category
    </select>

    <select id="categoryList" resultMap="BaseResultMap">
        select id, category_title, create_time
        from category
    </select>
    <select id="selectCategoryByTitle" resultType="org.deslrey.entity.vo.CategoryVO"
            parameterType="java.lang.String">
        select id, category_title as categoryTitle
        from category
        where category_title = #{categoryTitle}
    </select>

</mapper>
