<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.Image">
        <id column="id" property="id"/>
        <result column="folder_id" property="folderId"/>
        <result column="image_name" property="imageName"/>
        <result column="path" property="path"/>
        <result column="url" property="url"/>
        <result column="size" property="size"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <insert id="insertImage" parameterType="org.deslrey.entity.po.Image">
        insert into image(folder_id, image_name, path, url, size, create_time)
            value (#{folderId}, #{imageName}, #{path}, #{url}, #{size}, NOW())
    </insert>

    <select id="allList" resultType="org.deslrey.entity.vo.ImageVO">
        select i.id,
               i.folder_id   as folderId,
               f.folder_name as folderName,
               i.image_name  as imageName,
               i.path,
               i.url,
               i.size,
               i.create_time as createTime
        from image i
                 left join folder f on i.folder_id = f.id
    </select>

    <select id="selectImagesByFolderId" resultType="org.deslrey.entity.vo.ImageVO"
            parameterType="java.lang.Integer">
        select i.id,
               i.folder_id   as folderId,
               f.folder_name as folderName,
               i.image_name  as imageName,
               i.path,
               i.url,
               i.size,
               i.create_time as createTime
        from image i
                 left join folder f on i.folder_id = f.id
        where i.folder_id = #{folderId}
    </select>

    <select id="selectObscureFolderName"
            resultType="org.deslrey.entity.vo.ImageVO"
            parameterType="java.lang.String">
        SELECT
        i.id,
        i.folder_id AS folderId,
        f.folder_name AS folderName,
        i.image_name AS imageName,
        i.path,
        i.url,
        i.size,
        i.create_time AS createTime
        FROM image i
        LEFT JOIN folder f ON i.folder_id = f.id
        <where>
            <if test="folderName != null and folderName != ''">
                f.folder_name LIKE CONCAT('%', #{folderName}, '%')
            </if>
        </where>
    </select>


</mapper>
