<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.ImageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.Image">
        <id column="id" property="id"/>
        <result column="folder_id" property="folderId"/>
        <result column="image_name" property="imageName"/>
        <result column="original_name" property="originalName"/>
        <result column="path" property="path"/>
        <result column="url" property="url"/>
        <result column="size" property="size"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <!-- 插入图片 -->
    <insert id="insertImage" parameterType="org.deslrey.entity.po.Image">
        insert into image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="folderId != null">folder_id,</if>
            <if test="imageName != null and imageName != ''">image_name,</if>
            <if test="originalName != null and originalName != ''">original_name,</if>
            <if test="path != null and path != ''">path,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="size != null">size,</if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="folderId != null">#{folderId},</if>
            <if test="imageName != null and imageName != ''">#{imageName},</if>
            <if test="originalName != null and originalName != ''">#{originalName},</if>
            <if test="path != null and path != ''">#{path},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="size != null">#{size},</if>
            NOW(),
        </trim>
    </insert>

    <delete id="deleteImageById" parameterType="java.lang.Integer">
        delete from image
        <where>
            <choose>
                <when test="imageId != null">
                    id = #{imageId}
                </when>
                <otherwise>
                    1 = 2
                </otherwise>
            </choose>
        </where>
    </delete>

    <!-- 查询全部图片 -->
    <select id="selectList" resultType="org.deslrey.entity.vo.ImageVO">
        select i.id,
               i.folder_id     as folderId,
               f.folder_name   as folderName,
               i.original_name as originalName,
               i.path,
               i.url,
               i.size,
               i.create_time   as createTime
        from image i
                 left join folder f on i.folder_id = f.id
        order by i.create_time
    </select>

    <!-- 模糊查询：根据文件夹名匹配图片 -->
    <select id="selectObscureFolderName"
            resultType="org.deslrey.entity.vo.ImageVO"
            parameterType="java.lang.String">
        select i.id,
        i.folder_id as folderId,
        f.folder_name as folderName,
        i.original_name as originalName,
        i.path,
        i.url,
        i.size,
        i.create_time as createTime
        from image i
        left join folder f on i.folder_id = f.id
        <where>
            <if test="folderName != null and folderName != ''">
                f.folder_name like concat('%', #{folderName}, '%')
            </if>
        </where>
        order by i.create_time desc
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select path, url
        from image
        where id = #{imageId}
    </select>

</mapper>
