<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.TagMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.Tag">
        <id column="id" property="id"/>
        <result column="tag_title" property="tagTitle"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
    </resultMap>

    <insert id="insertTag" parameterType="java.lang.String">
        insert into tag(tag_title, create_time)
        values (#{tagTitle}, NOW())
    </insert>

    <update id="updateTagTitle" parameterType="org.deslrey.entity.po.Tag">
        update tag
        set tag_title = #{tagTitle}
        where id = #{id}
    </update>


    <select id="tagCountList" resultType="org.deslrey.entity.vo.TagCountVO">
        select t.id, t.tag_title AS title, COUNT(at.article_id) AS total
        from tag t
                 left join article_tag `at` on t.id = `at`.tag_id
                 left join article `a` on `at`.article_id = `a`.id
        where a.exist = 1
        GROUP BY t.id, t.tag_title
        HAVING total > 0
        ORDER BY total DESC;
    </select>

    <select id="tagNameList" resultMap="BaseResultMap">
        select id, tag_title
        from tag
    </select>

    <select id="tagList" resultMap="BaseResultMap">
        select id, tag_title, create_time
        from tag
    </select>

    <select id="selectIdByTitle" resultType="java.lang.Integer" parameterType="java.lang.String">
        select id
        from tag
        where tag_title = #{title}
        order by create_time desc
        limit 1
    </select>


</mapper>
