<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.deslrey.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.deslrey.entity.po.UserInfo">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="email" property="email"/>
        <result column="salt" property="salt"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" javaType="java.time.LocalDateTime"/>
        <result column="exist" property="exist"/>
    </resultMap>

    <insert id="insertUser" parameterType="org.deslrey.entity.po.UserInfo" useGeneratedKeys="true">
        insert into user_info(user_name, pass_word, email, salt, create_time, update_time, exist)
        values (#{userName}, #{passWord}, #{email}, #{salt}, NOW(), NOW(), #{exist})
    </insert>

    <update id="updateUserNameByName">
        update user_info
        set user_name = #{newUserName}
        where user_name = #{oldUserName}
    </update>


    <select id="selectUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, user_name, pass_word, email, salt, avatar
        from user_info
        where user_name = #{userName}
    </select>

    <select id="selectUserNameOrEmailExist" resultType="java.lang.Integer">
        select count(1)
        from user_info
        where user_name = #{userName}
           or email = #{email}
    </select>


</mapper>
