.themeToggleGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 4px;
    width: 150px;
    height: 40px;
    box-sizing: border-box;
    transition: all var(--transition-speed) ease;

    /* 小屏幕时改为竖排 */
    @media (max-width: 768px) {
        flex-direction: column;
        width: 50px;
        height: auto;
        gap: 10px;
        padding: 6px 0;
    }
}

.themeToggleBtn {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color var(--transition-speed);

    &:hover {
        color: gold;
    }

    &.active {
        color: aqua;
    }

    svg {
        width: 18px;
        height: 18px;
    }

    /* 小屏幕时每个按钮垂直分布且有间距 */
    @media (max-width: 768px) {
        width: 100%;
        height: 40px;

        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }
}
