.mobileNavButton {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: var(--activeColor-rgb);
        color: #fff;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        z-index: 3000;
        cursor: pointer;
        border: none;
    }
}

/* 背景遮罩 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2500;
}

/* 移动端导航面板 */
.mobileNav {
    display: none;

    @media (max-width: 768px) {
        display: block;
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        height: 70%;
        padding: 20px 0;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(20px);
        box-shadow: 0 -10px 25px rgba(0, 0, 0, 0.25);
        border-radius: 20px 20px 0 0;
        z-index: 2600;
        transition:
            bottom 0.6s cubic-bezier(0.22, 1, 0.36, 1),
            opacity 0.3s ease;

        [data-theme="dark"] & {
            background: rgba(30, 30, 30, 0.9);
        }
    }
}

.mobileNav.open {
    @media (max-width: 768px) {
        bottom: 0;
        opacity: 1;
    }
}

.mobileNavContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;

    .navItem,
    .themeToggleGroup {
        opacity: 0;
        transform: translateY(20px);
        animation: floatUp 0.4s ease forwards;
    }

    a.navItem {
        font-size: 18px;
        text-decoration: none;
        transition: color var(--transition-speed) ease;
    }
}

.themeToggleGroup {
    display: flex;
    gap: 10px;
}

.navItem {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    text-decoration: none;
    color: var(--color-text);
    cursor: pointer;

    .navIcon {
        font-size: 20px;
        color: inherit;
    }
}

.activeNav {
    color: var(--activeColor);
}

@keyframes floatUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .NavMain.open {
        .navItem,
        .themeToggleGroup {
            animation: floatUp 0.4s ease forwards;
        }

        .navItem:nth-child(1) {
            animation-delay: 0.1s;
        }
        .navItem:nth-child(2) {
            animation-delay: 0.2s;
        }
        .navItem:nth-child(3) {
            animation-delay: 0.3s;
        }
        .navItem:nth-child(4) {
            animation-delay: 0.4s;
        }
        .themeToggleGroup {
            animation-delay: 0.5s;
        }
    }
}

.navItem,
.themeToggleGroup,
.mobileNavButton {
    -webkit-tap-highlight-color: transparent;
}
