.tags {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.tag {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    padding: 2px 6px;
    font-size: 12px;
    line-height: 1;

    border-radius: 6px;
    color: var(--color-text);
}

.tagIcon {
    display: inline-flex;
    width: 14px;
    height: 14px;

    svg {
        width: 14px;
        height: 14px;
        fill: currentColor;
        stroke: currentColor;
    }
}

.tagText {
    line-height: 1;
}
