.categoryPage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    // margin-top: 9.9%;
    min-height: 70%;

    @media (max-width: 768px) {
        padding: 100px 10px 50px;
    }
}

.container {
    width: 100%;
    margin-top: 10%;
    max-width: 1200px;
    min-height: 600px; /* 固定最小高度 */
    display: flex; /* 让容器成为 flex */
    flex-direction: column; /* 垂直布局 */
}

.title {
    font-size: 50px;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 25px;
    position: relative;
    padding-left: 14px;

    /* 动画淡入 */
    animation: fadeIn 1.4s ease;
}

.list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* PC 两列 */
    gap: 12px;
    padding: 0;
    @media (max-width: 768px) {
        grid-template-columns: 1fr; /* 移动端单列 */
        gap: 8px;
    }
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    min-height: 120px;

    display: flex;
    justify-content: space-between; /* 左右分布 */
    align-items: center; /* 垂直居中 */
    flex-direction: row; /* 横向排列 */

    &:hover {
        transform: translateY(-3px);
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    }
}

.catName {
    font-size: 30px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 6px;
}

.count {
    font-size: 14px;
    color: var(--color-text);
    opacity: 0.8;
}
