.categoryBox {
    height: 100%;
    width: 100%;
    overflow: auto;

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 20px;
        margin-right: 30px;
        height: 40px;
    }

    .addIcon {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}

.fixedTable {
    // table-layout: fixed; // 表格固定布局
    width: 100%;

    th,
    td {
        white-space: nowrap; // 不换行
        overflow: hidden; // 超出隐藏
        text-overflow: ellipsis; // 超出显示省略号
    }
}
