.toggle-wrapper {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.bars {
  height: 4px;
  background-color: var(--activeColor);
  border-radius: 2px;
  transition: all 0.4s ease;
}

#bar1 {
  width: 60%;
}

#bar2 {
  width: 80%;
}

#bar3 {
  width: 60%;
}

.bars.open#bar1 {
  transform: rotate(45deg);
  width: 60%;
}

.bars.open#bar2 {
  transform: scaleX(0);
}

.bars.open#bar3 {
  transform: rotate(-45deg);
  width: 60%;
}