.notePage {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    // margin-top: 9.9%;
    min-height: 70%;

    @media (max-width: 768px) {
        padding: 0 10px;
        padding-top: 100px;
    }
}