.articleBox {
    height: 100%;
    width: 100%;
}
.fixedTable {
    table-layout: fixed; // 表格固定布局
    width: 100%;

    th,
    td {
        white-space: nowrap; // 不换行
        overflow: hidden; // 超出隐藏
        text-overflow: ellipsis; // 超出显示省略号
    }
}
